*,
p,
ol {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.flex {
    display: flex;
}

.items-center {
    align-items: center;
}
.m-auto {
    margin: auto;
}
a {
    color: black;
}
a:hover {
    color: #91ad41;
}
.box-shadow {
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.2);
}
.content-page {
    background-image: url('/image/background-page.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 160px;
    text-align: center;
}

.title-nav-page {
    padding: 35px 5%;
}

.title-page {
    font-weight: 600;
    font-size: 36px;
}

.nav-page {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.breadcrumb-item a {
    color: #707070;
}

.breadcrumb-item a:hover {
    color: #91ad41;
}

.breadcrumb-item.active {
    color: #91ad41;
}
.navbar-page {
    padding: 0 10%;
    background-color: #28a745;
}
.body-page,
.body-admin {
    margin: 50px 10%;
}

// header
.form-search {
    border-radius: 92px;
    overflow: hidden;
    margin-right: 50px;
}
.input-search {
    border: none;
    border-radius: 0;
    min-width: 350px;
}
.btn-search {
    border: none;
    border-radius: 0;
}

.span-spliter {
    width: 1px;
    height: 28px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}
.btn-outline {
    border: 1px solid;
    min-width: 102px;
}
.user-avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.text-title-login {
    margin: 30px 0 30px 50px;

    h2 {
        margin-bottom: 0;
        text-align: right;
        background: linear-gradient(to right, green, rgb(203, 223, 173));
        -webkit-background-clip: text;
        color: transparent;
    }
    h1 {
        margin-bottom: 0;
        font-size: 78px;
        background: linear-gradient(to right, green, rgb(203, 223, 173));
        -webkit-background-clip: text;
        color: transparent;
    }
}

.div-login {
    margin-top: 140px;
    background-color: #fff;
    max-width: 450px;
    margin-left: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.div-content-login {
    margin: 30px;
}

//
.container-tabs {
    position: relative;
}
.container-tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #c23564;
    transition: all 0.2s ease;
}
.tab-item {
    min-width: 140px;
    padding: 16px 20px 11px 20px;
    font-size: 18px;
    text-align: center;
    color: #c23564;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    border: 1px solid #c23564;
    cursor: pointer;
    transition: all 0.5s ease;
}
.tab-item:hover {
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);
}
.tab-item.active {
    opacity: 1;
}
.tab-pane {
    color: #333;
    display: none;
}
.tab-pane.active {
    display: block;
}

.star {
    color: rgb(235, 110, 52);
}

.rating {
    display: flex;
    padding: 0;
    margin: 0;
}

.rating-item {
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 2em;
    color: rgb(235, 110, 52);
    list-style-type: none;
}

/* initial: make all stars full */
.rating-item::before {
    content: '\2605';
}

/* make until the clicked star (the rest) empty */
.rating-item.active ~ .rating-item::before {
    content: '\2606';
}

/* on hover make all full */
.rating:hover .rating-item::before {
    content: '\2605';
}

/* make until the hovered (the rest) empty */
.rating-item:hover ~ .rating-item::before {
    content: '\2606';
}

.body-page-1 {
    margin: 50px 15%;
}
.body-page-2 {
    margin: 50px 20%;
}

.message-error {
    font-size: 14px;
    border-color: red;
    background: rgb(236, 132, 132);
    margin: auto;
    text-align: center;
    padding: 2px;
    color: #fff;
    border-radius: 1rem;
}

table td,
table th {
    vertical-align: middle !important;
}
