.container-product {
    margin: 15px 15px 0 15px;
}

.card-product {
    height: 338px;
    width: 252px;
    background-color: #f5f6fb;
}

.card-product img {
    max-width: 100%;
    height: 240px;
}

.card-product:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.product-info {
    margin-top: 20px;
    margin-left: 17px;
}

.card-title-product {
    font-weight: 500;
    font-size: 17px;
    color: #000000;
    font-weight: 500;
}

.card-text-product {
    padding: 5px;
    color: #2cb04f;
    font-size: 17px;
    font-weight: 500;
}

.div-btn {
    justify-content: flex-end;

    .icon-add-cart {
        font-size: 22px;
    }
}

//
.conatiner-img-prod {
    margin: 20px 0;

    .div-img {
        padding-right: 3px;
        padding-left: 3px;
    }
}

.product-inf {
    font-size: 16px;

    .container-prod {
        margin: 0 30px;
    }

    .div-category {
        margin: 5px 0 10px 0;
    }

    .container-btn-quantity {
        margin: 30px 0 15px 0;
    }

    .input-quantity {
        width: 50px;
        text-align: center;
    }

    .btn-add-product {
        font-size: 20px;
        margin-bottom: 20px;
        border-radius: 40px;
    }
    .icon-cart {
        font-size: 22px;
    }
}

.title-name p {
    font-size: 32px;
    font-weight: 600;
}

.title-p {
    color: #000;
    font-weight: 700;
}

.title-3 {
    padding: 30px 0;
    border-top: #000 solid 1px;
}

.title-div {
    color: #000;
    font-weight: 700;
    font-size: 17px;
    white-space: nowrap;
    margin-right: 15px;
}
.line-div {
    height: 1px;
    background-color: black;
    width: 100%;
}

.container-title-evaluate {
    margin: 35px 0 14px 0;
}

.container-header-evaluate {
    background-color: rgb(26, 86, 163);
    padding: 15px;
    color: #fff;

    .div-evaluate {
        line-height: 40px;
    }

    .span-star {
        font-size: 35px;
        margin-left: 15px;
    }
    .fs-35 {
        font-size: 35px;
    }

    .number-evaluate {
        font-size: 25px;
    }
}

.title-evaluate {
    font-size: 20px;
}

.star-icon {
    font-size: 20px;
}

.tab-link {
    height: 100%;
    width: 100%;
    opacity: 0.4;
    border: #baf2ca solid 1px;
}

.tab-link.active {
    border: #2cb04f solid 1px;
    opacity: 1;
}

.tab-pane {
    height: 100%;
    width: 100%;
    display: none;
}

.tab-pane.active {
    display: block;
}

.wrapper-evaluate {
    margin: 0;
}

.container-evaluate {
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 15px;
}

.container-comment {
    margin-left: 85px;
    margin-bottom: 10px;
}
.container-feedback {
    background-color: #f3f3f3;
    padding: 10px 20px;
    margin-left: 85px;

    .title-feedback {
        font-size: 17px;
        font-weight: 600;
    }
}
