.conatiner-create {
  width: 700px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto; }

.wrapper {
  width: 700px;
  margin-top: 20px;
  border: 1px solid #ccc; }
  .wrapper table {
    margin-bottom: 0; }

.content-category {
  border-bottom: 1px solid #c0c9d2; }

.btn-warning {
  margin-right: 5px; }
