.div-btn-status {
  margin-right: 5px; }

.model-content-status {
  width: 530px; }

.container-prod {
  margin: 5px 0;
  font-size: 14px; }
  .container-prod .img-prod {
    height: 50px;
    width: 50px; }

.bg-prod {
  background-color: #f3f3f3; }
