<div class="container-page">
    <div class="content-page">
        <div class="title-nav-page">
            <p class="title-page">
                Sửa danh mục sản phẩm
            </p>
            <ol class="nav-page">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Sửa danh mục sản phẩm</li>
            </ol>
        </div>
    </div>
    <div class="body-admin">
        <form method="POST" action="/admin/quan-ly-danh-muc/{{category._id}}?_method=PUT">
            <div class="form-group">
                <label for="categoryProduct">Tên danh mục</label>
                <input type="text" class="form-control" id="categoryProduct" name="categoryProduct"
                    value="{{category.categoryProduct}}">
            </div>

            <button type="submit" class="btn btn-success">Sửa danh mục</button>
        </form>
    </div>
</div>