<div class="container-page">
    <div class="content-page">
        <div class="title-nav-page">
            <p class="title-page">
                Thêm danh mục sản phẩm
            </p>
            <ol class="nav-page">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Quản lý danh mục</li>
            </ol>
        </div>
    </div>
    <div class="conatiner-create flex">
        <div class="col-lg-9">
        </div>
        <div class="col-lg-3">
            <a class="item-center btn btn-success" href="/admin/quan-ly-danh-muc/them-danh-muc"><i
                    class="fa-solid fa-plus"></i>Thêm
                danh mục</a>
        </div>
    </div>
    <div class="body-admin wrapper ml-auto mr-auto">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col-lg-9">
                        Tên loại danh mục
                    </th>
                    <th scope="col-lg-3">
                        Thao tác
                    </th>
                </tr>
            </thead>
            <tbody style="border-bottom: 1px solid #c0c9d2;">
                {{#each categories}}
                <tr>
                    <td scope="col" class="col-lg-9">{{this.categoryProduct}}</td>
                    <td scope="col" class="col-lg-3">
                        <a href="/admin/quan-ly-danh-muc/{{this._id}}/edit" class="btn btn-warning"
                            style="margin-right: 5px;">Sửa</a>
                        <a href="" class="btn btn-danger" data-toggle="modal" data-id="{{this._id}}"
                            data-target="#delete-category-modal">Xóa</a>
                    </td>
                </tr>

                {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        Bạn chưa có danh mục sản phẩm nào.
                        <a style="color: rgb(14, 141, 67);" href="/admin/quan-ly-danh-muc/tao-danh-muc">Tạo danh mục</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>


        {{!-- confirm delete category --}}
        <div id="delete-category-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Xóa danh mục?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Bạc chắc chắn muốn xóa danh mục này</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        <button id="btn-delete-category" type="button" class="btn btn-danger">Xóa bỏ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-category-form" method="POST"></form>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        let categoryId;
        const deleteForm = document.forms['delete-category-form']
        const btnDeletecategory = document.getElementById('btn-delete-category')

        // When dialog confirm clicked
        $('#delete-category-modal').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget)
            categoryId = button.data('id')
        })

        btnDeletecategory.onclick = function () {
            deleteForm.action = '/admin/quan-ly-danh-muc/' + categoryId + '?_method=DELETE'
            deleteForm.submit()
        }
    })

</script>